:host{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-container{
  padding: 16px;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 12px;
  background-color: var(--mat-sys-surface);
  box-shadow: var(--app-box-shadow);
  overflow: scroll;
}
