@use '@angular/material' as mat;

:host{
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-on-primary),
    state-layer-color:  var(--mat-sys-on-primary),
  ));
}

.app{
  &-toolbar{
    gap: 12px;
  }
}
