<nav class="nav-menu">
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </li>

      <li routerLink="/inventory" routerLinkActive="active">
        <mat-icon>inventory</mat-icon>
        <span>Inventory</span>
      </li>

      <li routerLink="/orders" routerLinkActive="active">
        <mat-icon>shopping_basket</mat-icon>
        <span>Orders</span>
      </li>

      <li routerLink="/Customers" routerLinkActive="active">
        <mat-icon>group</mat-icon>
        <span>Customers</span>
      </li>

      <li routerLink="/reports" routerLinkActive="active">
        <mat-icon>report</mat-icon>
        <span>Reports</span>
      </li>

      <li routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </li>
    </ul>
  </nav>
