<div class="container">
  <mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer position="end" mode="over">
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <app-chart-settings />
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>display_settings</mat-icon>
      </button>
    </mat-toolbar>
      <ngx-charts-bar-vertical
                    [view]="view"
                    [results]="single"
                    [gradient]="gradient()"
                    [xAxis]="showXAxis()"
                    [yAxis]="showYAxis()"
                    [legend]="showLegend()"
                    [showXAxisLabel]="showXAxisLabel()"
                    [showYAxisLabel]="showYAxisLabel()"
                    [xAxisLabel]="xAxisLabel()"
                    [yAxisLabel]="yAxisLabel()">
      </ngx-charts-bar-vertical>
  </mat-drawer-content>
</mat-drawer-container>
</div>
